<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ngMadLibs</title>
		<!-- Meta Tags -->
		<meta charset="utf-8"/>
		
		<!-- Stylesheets -->
		<link rel="stylesheet" href="styles/reset.css">
		<link rel="stylesheet" href="styles/style.css"/> 
		
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>

	<body ng-app="myApp" ng-controller="MyCtrl as vm">
		<header class="masthead">
			<div class="mastheadLogo">
				<div class="smileyLogo"></div>
			</div>
			<div class="mastheadText">
				<div class="angularLogo"></div>
				<div class="automateText">Automate This!</div>
			</div>
		</header>

		<section class="wordInput" ng-show="vm.firstScreen">
			<h1>Provide the following words:</h1>
			<form name="vm.userInputForm" novalidate ng-submit="vm.submit()">
				<div class="inputLines">
					<input type="text" name="name" placeholder="Name" ng-model="vm.name" required>
					<div ng-messages="vm.userInputForm.$submitted && vm.userInputForm.name.$error">
			       		<p ng-message="required" class="error">Enter a name</p>
			   		</div>

					<input type="text" name="dirtyTask" placeholder="Dirty task" ng-model="dirtyTask" required>
					<div ng-messages="vm.userInputForm.$submitted && vm.userInputForm.dirtyTask.$error">
			       		<p ng-message="required" class="error">Enter a dirty task</p>
			   		</div>

					<input type="text" name="obnoxiousCelebrity" placeholder="Obnoxious celebrity" ng-model="obnoxiousCelebrity" required>
					<div ng-messages="vm.userInputForm.$submitted && vm.userInputForm.obnoxiousCelebrity.$error">
			       		<p ng-message="required" class="error">Enter an obnoxious celebrity</p>
			   		</div>					
				</div>

				<div class="inputLines">
					<input type="text" name="jobTitle" placeholder="Job title" ng-model="jobTitle" required>
					<div ng-messages="vm.userInputForm.$submitted && vm.userInputForm.jobTitle.$error">
			       		<p ng-message="required" class="error">Enter a job title</p>
			   		</span>

					<input type="text" name="celebrity" placeholder="Celebrity" ng-model="celebrity" required>
					<div ng-messages="vm.userInputForm.$submitted && vm.userInputForm.celebrity.$error">
			       		<p ng-message="required" class="error">Enter a celebrity</p>
			   		</div>

					<input type="number" name="hugeNumber" placeholder="Huge number" ng-model="hugeNumber" required>
					<div ng-messages="vm.userInputForm.$submitted && vm.userInputForm.hugeNumber.$error">
			       		<p ng-message="required" class="error">Enter a huge number</p>
			   		</div>
				</div>
				<div class="inputLines">
					<input type="text" name="tediousTask" placeholder="Tedious task" ng-model="tediousTask" required>
					<div ng-messages="vm.userInputForm.$submitted && vm.userInputForm.tediousTask.$error">
			       		<p ng-message="required" class="error">Enter a tedious task</p>
			   		</div>

					<input type="text" name="uselessSkill" placeholder="Useless skill" ng-model="uselessSkill" required>
					<div ng-messages="vm.userInputForm.$submitted && vm.userInputForm.uselessSkill.$error">
			       		<p ng-message="required" class="error">Enter a useless skill</p>
			   		</div>

					<input type="text" name="adjective" placeholder="Adjective" ng-model="adjective" required>
					<div ng-messages="vm.userInputForm.$submitted && vm.userInputForm.adjective.$error">
			       		<p ng-message="required" class="error">Enter an adjective</p>
			   		</div>					
				</div>
				<div class="inputGender">
	      			<input type="radio" name="maleFemale" ng-click="vm.check(gender)" ng-model="gender" value="male" required>Male
	      			<input type="radio" name="maleFemale" ng-click="vm.check(gender)" ng-model="gender" value="female" required>Female
					<div ng-messages="vm.userInputForm.$submitted && vm.userInputForm.maleFemale.$error">
			       		<p ng-message="required" class="error">Select a gender</p>
			   		</div>	      			
				</div>
				
				<!--<div class="errorMessage" ng-show="vm.inputComplete">
			       	<p>Please fill out all fields</p>
			   	</div>-->

				<div>
					<hr>
				</div>


				<div class="buttonWrapper">
					<button type="submit" class="generateLib">Generate My Mad Lib</button>
				</div>
			</form>
		</section>

		
		<section class="wordOutput" ng-show="vm.inputValidated">
			<div class="finalTextWrapper">
				<p class="finalText">{{vm.name}} was a {{jobTitle}} who loved technology. Although {{vm.chosenPronouns[0]}} loved parts of {{vm.chosenPronouns[2]}} job, {{vm.chosenPronouns[0]}} absolutely hated {{tediousTask}} and {{dirtyTask}}. So, {{vm.chosenPronouns[0]}} met with {{vm.chosenPronouns[2]}} life mentor {{celebrity}} who told {{vm.chosenPronouns[1]}} to learn something new. {{vm.chosenPronouns[3]}} didn't find a course on {{uselessSkill}} so {{vm.chosenPronouns[0]}} studied programming instead.</p>
				<p class="finalText">What a great decision! With {{vm.chosenPronouns[2]}} new skills, {{maleName}} built a(n) {{adjective}} robot named {{obnoxiousCelebrity}} that not only loved {{dirtyTask}} but did it {{hugeNumber}} times faster.</p>
			</div>
			<div class="buttonWrapper">
				<button ng-click="vm.startOver()" class="startOver">Start Over</button>				
			</div>

			<div>Version: {{version}}</div>
		</section>

		
		<!-- JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script type="text/javascript" src="js/myApp.js"></script>
		<!-- Load the angular-messages module and add in .js application as dependency -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>

		
	</body> 

</html>
