<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ngMadLibs</title>
		<!-- Meta Tags -->
		<meta charset="utf-8"/>
		
		<!-- Stylesheets -->
		<link rel="stylesheet" href="styles/reset.css">
		<link rel="stylesheet" href="styles/style.css"/> 
		
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>

	<body ng-app="myApp">
		<header class="masthead">
			<div class="mastheadLogo">
				<div class="smileyLogo"></div>
			</div>
			<div class="mastheadText">
				<div class="angularLogo"></div>
				<div class="automateText">Automate This!</div>
			</div>
		</header>

		<section class="wordInput">
			<h1>Provide the following words:</h1>
			<div class="inputLines">
				<input type="text" name="maleName" placeholder="Male name" ng-model="maleName">
				<input type="text" name="dirtyTask" placeholder="Dirty task" ng-model="dirtyTask">
				<input type="text" name="obnoxiousCelebrity" placeholder="Obnoxious celebrity" ng-model="obnoxiousCelebrity">
			</div>
			<div class="inputLines">
				<input type="text" name="jobTitle" placeholder="Job title" ng-model="jobTitle">
				<input type="text" name="celebrity" placeholder="Celebrity" ng-model="celebrity">
				<input type="text" name="hugeNumber" placeholder="Huge number" ng-model="hugeNumber">
			</div>
			<div class="inputLines">
				<input type="text" name="tediousTask" placeholder="Tedious task" ng-model="tediousTask">
				<input type="text" name="uselessSkill" placeholder="Useless skill" ng-model="uselessSkill">
				<input type="text" name="adjective" placeholder="Adjective" ng-model="adjective">
			</div>
			<div class="inputGender">
				<a href="#" ng-click="gender='male'">Click for male</a>
      			<a href="#" ng-click="gender='female'">Click for female</a>
			</div>
		</section>
		
		<section class="wordOutput" ng-controller="MyCtrl">
			<div class="finalText" ng-switch="gender">
				<p>{{maleName}} was a {{jobTitle}} who loved technology. Although<span ng-switch-when="male"> he </span><span ng-switch-when="female"> she </span>loved parts of<span ng-switch-when="male"> his </span><span ng-switch-when="female"> her </span>job,<span ng-switch-when="male"> he </span><span ng-switch-when="female"> she </span>absolutely hated {{tediousTask}} and {{dirtyTask}}. So,<span ng-switch-when="male"> he </span><span ng-switch-when="female"> she </span>met with<span ng-switch-when="male"> his </span><span ng-switch-when="female"> her </span>life mentor {{celebrity}} who told<span ng-switch-when="male"> him </span><span ng-switch-when="female"> her </span>to learn with something new.<span ng-switch-when="male"> He </span><span ng-switch-when="female"> She </span>didn't find a course on {{uselessSkill}} so<span ng-switch-when="male"> he </span><span ng-switch-when="female"> she </span>studied programming instead.</p>
				<p>What a great decision! With<span ng-switch-when="male"> his </span><span ng-switch-when="female"> her </span>new skills, {{maleName}} built a(n) {{adjective}} robot named {{obnoxiousCelebrity}} that not only loved {{dirtyTask}} but did it {{hugeNumber}} times faster.</p>
			</div>
			<div>Version: {{version}}</div>
			<div>Version2: {{version2}}</div>
		</section>

		
		<!-- JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script type="text/javascript" src="js/myApp.js"></script>

	</body> 

</html>
